body{
    background-image: linear-gradient(#f9b600, #ca4a12);
    color: black;
}

body a{
    color: black;
    text-decoration: none;
}

body a:hover{
    color: white;
}

/* Background Image */
header{
    background-image: url(https://cdn.pixabay.com/animation/2023/03/17/02/19/02-19-19-487_512.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

/* Font */
h1{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

h2{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

h3{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

h4{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn a{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainText p{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Title and Navigation */
.topBar{
    background-color: #f7a900;
    position: fixed;
    width: 100%;
}

.topBar .btn{
    background-color: #ca4a12;
    color: white;
}

.title h1{
    border: 2px solid black;
    outline: 3px solid #ca4a12;
}

.btn a{
    color: white;
    text-decoration: none;
}

.socialLinks img{
    width: 35px;
}

/* Text with background image */
.mainText{
    color: black;
}

.mainText span{
    color: #d10100;
}

/* Projects */
.detroix{
    border: 2px solid #f7a900;
    border-left: none;
}

.airbox{
    border: 2px solid #f7a900;
}

.prechu{
    border: 2px solid #f7a900;
    border-right: none;
}

.bloom{
    border: 2px solid #f7a900;
    border-left: none;
    border-bottom: none;
}

.duckFiles{
    border: 2px solid #f7a900;
    border-right: none;
    border-bottom: none;
}